In [4]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

In [9]:
# Load csv file
balance_data=pd.read_csv("/home/dev16/Data Analytics/Classification/Decision Trees/Loan_Repayment.csv")
balance_data.set_axis(['Initial payment','Last payment',
                            'Credit score','House Number','sum',
                            'Result'],axis=1,inplace=True)
balance_data

     Initial payment  Last payment  Credit score  House Number    sum Result
0                201         10018           250          3046  13515    yes
1                205         10016           395          3044  13660    yes
2                257         10129           109          3251  13746    yes
3                246         10064           324          3137  13771    yes
4                117         10115           496          3094  13822    yes
..               ...           ...           ...           ...    ...    ...
995              413         14914           523          4683  20533     No
996              359         14423           927          4838  20547     No
997              316         14872           613          4760  20561     No
998              305         14926           897          4572  20700     No
999              168         14798           834          4937  20737     No

[1000 rows x 6 columns]

In [25]:
# We gonna take First 3 column values
x=balance_data.to_numpy()[:,0:4]
y=balance_data.to_numpy()[:,5]
# Splitting the dataset into Test and Train
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,
                                         random_state=100)
# Function to perform training with Entropy
clf_entropy=DecisionTreeClassifier(criterion="entropy",
                                  random_state=100,max_depth=3,
                                  min_samples_leaf=5)
clf_entropy.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [27]:
y_pred_en=clf_entropy.predict(x_test)
y_pred_en

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'yes'], dtype=object)

In [29]:
print("Accuracy is ",accuracy_score(y_test,y_pred_en)*100)

Accuracy is  93.66666666666667